.skills {
    background-color: var(--color-skills-bg);
    border-radius: 25px;
    border: 2px solid var(--color-bento-border);
    padding: 0.5rem 2rem;
    gap: 2  rem;
    width: fit-content;
}

.skills h1 {
    font-size: 18px;
    font-weight: 200;
    color: var(--color-text-secondary);
}

.skills:hover {
    transform: translateY(-2px);
    border: 2px solid rgba(31, 97, 210, 1);
    transition: transform 0.30s, border 0.15s;
}