:root {
  font-family: 'Inter', sans-serif;
  letter-spacing: 2%;
}

body {
  background-color: #0A0A0F;
  margin-left: 60px;
  margin-right: 60px;
}

.highlight {
    color: #1F61D2;
}

.highlight-white {
    color: white;
}